Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [85]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [3]:
driver.get('https://www.naukri.com/')

In [5]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [6]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [7]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [8]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="612a90f1-b96c-4f5e-af85-0adf533e4d6d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="6908e89d-670b-44a5-9eb2-530b92f93d66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="8b2b757f-51c8-49ce-9ac4-1cb80bd29e20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="842a76fd-c2ee-4d5c-a9f3-61669ba566f4")>]

In [9]:
for i in title_tags:
    
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist/Data Analyst',
 'Business Data Analyst',
 'SAS AML Data Analyst / Trainee & Data Science, Python Trainee',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Study Data Analyst',
 'Data Analyst',
 'Business Data Analyst | Reinsurance Domain']

In [10]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="4625754d-2885-4987-b50c-71daae7cb8e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="a8032f4e-e558-4322-aaad-14ae491d0838")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="2c40825b-cf18-40c2-ab1a-eddee3f637dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="d2b2d8f0-50d7-40a8-a08e-ac2787ca568b")>]

In [11]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'NetApp',
 'MagicBase Royal BD Pvt Ltd',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Ltd',
 'Mphasis Limited']

In [12]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="cc53f126-eb0f-4b55-b3ff-21b60a37f329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="8d9ab268-d5cc-472c-904f-c89dbcdd5d05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="277d007f-d39b-469a-bde8-c2df0f89f71b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="aa7c0452-7ef9-4de2-ab53-b59d04e2e441")>]

In [13]:
for i in experience_tags:
    exp=i.text
    experience_list.append(exp)
experience_list[0:10]

['0-2 Yrs',
 '0-3 Yrs',
 '2-3 Yrs',
 '0-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '4-8 Yrs',
 '3-4 Yrs',
 '10-15 Yrs']

In [14]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="96cf0afa-c05a-4d52-8198-a813ab54282a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="6efcb096-f884-45c2-8dfa-645a33896a7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="5e6bc32e-126f-46cf-b067-0c4c6422ec2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="bd897b7292cca055d9a604bd80aae93b", element="65ffb7c3-1dcf-4ea6-9538-bb5583a6424e")>]

In [15]:
for i in location_tags:
    loc=i.text
    location_list.append(loc)
location_list[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru(Whitefield)',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, India',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [16]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_titles[0:10]
jobs['company']=company_names[0:10]
jobs['experience']=experience_list[0:10]
jobs['location']=location_list[0:10]

In [17]:
jobs

,title,company,experience,location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs,"Chennai, Pune, Bengaluru, Hyderabad"
2,Business Data Analyst,NetApp,2-3 Yrs,Bengaluru
3,"SAS AML Data Analyst / Trainee & Data Science,...",MagicBase Royal BD Pvt Ltd,0-5 Yrs,Bengaluru(Whitefield)
4,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
5,Hiring Data Analysts,Flipkart Internet Private Limited,2-5 Yrs,Bengaluru
6,Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,3-5 Yrs,"Bengaluru, India"
7,Study Data Analyst,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs,Bengaluru
8,Data Analyst,Cognizant Technology Solutions India Ltd,3-4 Yrs,Bengaluru
9,Business Data Analyst | Reinsurance Domain,Mphasis Limited,10-15 Yrs,Bengaluru

In [18]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [109]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [110]:
driver.get('https://www.naukri.com/')

In [111]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [112]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [113]:
job_title=[]
company_name=[]
locations_list=[]

In [114]:
title_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="48a4ebfc-8088-4bff-8379-ae40698f3008")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="80920591-c672-41de-902f-20d0cef76ef6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="ed0362c7-6b59-47b5-ad83-f441905241ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="6d4d0949-2a13-4889-a61e-a4b71ef8b291")>]

In [115]:
for i in title_tag:
    
    title=i.text
    job_title.append(title)
job_title[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'Data Scientist/Data Analyst',
 'Data Scientist - Python/MATLAB/Machine Learning Algorithms',
 'Data Scientist - Machine Learning/Data Mining',
 'Senior Data Scientist - NLP/ Python/ R',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Senior Data Scientist | CES IT LTD | CMMI Level 5',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning - Remote Working',
 'Artificial Intelligence Analyst/Data Scientist']

In [116]:
companies_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="91bcc48c-fb24-4e1c-8e06-859fa2281177")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="42f88828-d7b9-4401-abff-8533df8c99d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="f47baedc-f06d-41a4-949c-c1b15b53474d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="46d1bf04-4e16-4b4e-9939-2136b90ec319")>]

In [117]:
for i in companies_tag:
    comp_name=i.text
    company_name.append(comp_name)
company_name[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Wrackle Technologies Pvt Ltd',
 'Minions Ventures',
 'AVI Consulting LLP',
 'CES Ltd.',
 'CES Ltd.',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Doji Ltd',
 'TalentCo Search Pvt Ltd']

In [118]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="7993d3ce-a6f2-4e19-b84a-a01e92f1e426")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="ff82f19f-c6ff-4b1b-9af3-68e29ffcc919")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="bc5b70ea-5534-4b85-bef7-41801c1eb733")>,
 <selenium.webdriver.remote.webelement.WebElement (session="90f0a4f2245fa44667cb25e656361a74", element="c2541814-eb98-4976-8268-2e28922485e2")>]

In [119]:
for i in location_tags:
    loc=i.text
    locations_list.append(loc)
locations_list[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Hyderabad',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad, Kolkata',
 'Bengaluru',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Mumbai, Bengaluru']

In [120]:
import pandas as pd
jobs=pd.DataFrame({})
jobs['title']=job_title[0:10]
jobs['company']=company_name[0:10]

jobs['location']=locations_list[0:10]

In [121]:
jobs

,title,company,location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad"
1,Data Scientist/Data Analyst,CAIA-Center For Artificial Intelligence & Adva...,"Chennai, Pune, Bengaluru, Hyderabad"
2,Data Scientist - Python/MATLAB/Machine Learnin...,Wrackle Technologies Pvt Ltd,Bengaluru
3,Data Scientist - Machine Learning/Data Mining,Minions Ventures,Bengaluru
4,Senior Data Scientist - NLP/ Python/ R,AVI Consulting LLP,"Bengaluru, Hyderabad"
5,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
6,Senior Data Scientist | CES IT LTD | CMMI Level 5,CES Ltd.,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H..."
7,Data Scientist - Machine Learning,BLUE YONDER INDIA PRIVATE LIMITED,Bengaluru
8,Data Scientist - Machine Learning - Remote Wor...,Doji Ltd,"Delhi NCR, Bengaluru, Anywhere in India"
9,Artificial Intelligence Analyst/Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Bengaluru"

Q3: In this question you have to scrape data using the filters available on the
webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [3]:
driver.get('https://www.naukri.com/')

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [9]:
check_location=driver.find_element_by_xpath("//div[@class='mt-8 chckBoxCont'][2]")
check_location.click()

In [11]:
check_sal=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")

check_sal.click()

In [12]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [13]:
title_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="585877e5-4a98-436c-9a1f-6cfdc4d6f413")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="b166bd20-7125-4c84-b663-b3326ee73289")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="c90fef79-171b-4315-893e-614cd3c986f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="c3840d9d-8ef6-4bbd-b623-4b1ca621ff0c")>]

In [14]:
for i in title_tags:
    
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Fresher Data Engineer / Data Scientist / Data Analyst Requirements',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Job | Opportunity For Senior Role(Data Scientist)-Bank of America',
 'Data Scientist For A Leading Movers & Packers Organisation',
 'Data Scientist(Hadoop/ Redshift /BigQuery)']

In [15]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="bff62a53-7b7b-4ddc-8c84-e6fea14d0b50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="219fe89c-8e09-4287-bb81-e08042aa8d41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="46d63d12-6f56-4be2-a8c7-aaba74c45cbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="5ad33142-1ff4-4031-8de4-767a6ea7a2a4")>]

In [16]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['ACHYUTAS SOFT PRIVATE LIMITED',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'Jubna',
 'PureSoftware Pvt Ltd.',
 'World Wide Technology',
 'Stark Industries',
 'BA Continuum India Pvt. Ltd',
 'Myfuture Placement Consultancy',
 'Jubna']

In [17]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="f2f25451-decb-49cc-aa5c-aaa129bd62a1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="afe7c90f-f3cf-4588-8356-e786adfbd7fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="d39932dd-0924-42cf-9ba5-4e389848db42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="b7afc968-8b2b-4b03-b695-0706677ea48f")>]

In [18]:
for i in experience_tags:
    exp=i.text
    experience_list.append(exp)
experience_list[0:10]

['0-2 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '5-8 Yrs',
 '5-9 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '14-17 Yrs',
 '1-2 Yrs',
 '4-6 Yrs']

In [19]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="289219f1-0861-401a-a162-dd1eaac9b410")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="b1f913af-30b8-4193-b9f1-c1dc86972f60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="3c0bbeec-010b-4b97-942f-18f56a0ef48d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="16a8ceedc4c0dfd8d94e6de178e504a3", element="902ff837-e2a1-488d-b0a8-7e6567b7c88a")>]

In [20]:
for i in location_tags:
    loc=i.text
    location_list.append(loc)
location_list[0:10]

['Delhi NCR, Bengaluru, Hyderabad',
 'Pune, Bengaluru, Gurgaon',
 'Pune, Bengaluru, Gurgaon',
 'Noida',
 'Gurgaon',
 'Gurgaon',
 'Delhi',
 'Gandhinagar, Delhi NCR, Mumbai, Gurgaon',
 'Delhi NCR',
 'Noida']

In [21]:
import pandas as pd
jobs1=pd.DataFrame({})
jobs1['title']=job_titles[0:10]
jobs1['company']=company_names[0:10]
jobs1['experience']=experience_list[0:10]
jobs1['location']=location_list[0:10]

In [22]:
jobs1

,title,company,experience,location
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,0-2 Yrs,"Delhi NCR, Bengaluru, Hyderabad"
1,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs,"Pune, Bengaluru, Gurgaon"
2,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs,"Pune, Bengaluru, Gurgaon"
3,Data Scientist - Python/Machine Learning,Jubna,5-8 Yrs,Noida
4,Data Scientist,PureSoftware Pvt Ltd.,5-9 Yrs,Gurgaon
5,Data Scientist,World Wide Technology,3-8 Yrs,Gurgaon
6,Data Scientist,Stark Industries,3-5 Yrs,Delhi
7,Job | Opportunity For Senior Role(Data Scienti...,BA Continuum India Pvt. Ltd,14-17 Yrs,"Gandhinagar, Delhi NCR, Mumbai, Gurgaon"
8,Data Scientist For A Leading Movers & Packers ...,Myfuture Placement Consultancy,1-2 Yrs,Delhi NCR
9,Data Scientist(Hadoop/ Redshift /BigQuery),Jubna,4-6 Yrs,Noida

Q4: Write a python program to scrape data for first 10 job results for Data scientist
Designation in Noida location. You have to scrape company_name, No. of days
ago when job was posted, Rating of the company.

In [58]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [59]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [60]:
search_job=driver.find_element_by_id('sc.keyword')
search_job.send_keys('Data Scientist')

In [61]:
search_loc=driver.find_element_by_id("sc.location")
search_loc.send_keys("Noida")

In [62]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [63]:
job_titles=[]
company_names=[]
location_list=[]
salary_list=[]

In [64]:
title_tags=driver.find_elements_by_xpath("//a[@class='jobInfoItem jobTitle css-13w0lq6 eigr9kq1 jobLink']/span")
title_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="b6726eb0-d364-4270-81be-d734c0c05fe3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="44d29d2b-92ca-4250-93d5-e038994d99ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="b585cef9-97a0-4e60-baf0-d8f3702f1e33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="9c02496f-4019-4cc3-acd9-48750628d718")>]

In [65]:
for i in title_tags:
    
    title=i.text
    job_titles.append(title)
job_titles[0:10]

['Data Scientist',
 'Assistant Manager - Data Scientist',
 'Data Analyst',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist']

In [66]:
companies_tags=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="88e8b29e-f0bc-4182-bd75-749720ba103c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="fc737332-1485-4444-89d5-fb8cd43de526")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="44beabca-934f-457d-9f94-82cebabcc6b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="718060f7-0307-4827-a4e7-01d779fb908f")>]

In [67]:
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names[0:10]

['IHS Markit',
 'Genpact',
 'GroundTruth',
 'Gauge Data Solutions',
 'MARKTECH CONSULTANCY',
 'Algoscale',
 'SearchUrCollege',
 'Techlive',
 'Priority Vendor',
 'Biz2Credit Inc']

In [68]:
sal_tags=driver.find_elements_by_xpath("//span[@class='css-18034rf e1wijj242']")
sal_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="9530266d-36dd-4f50-ace8-947c63421ace")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="829507ed-3c73-42b3-a7e7-dd7470a9c205")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="d578a13e-8b04-4f9e-ac37-bdc190da71bb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="1d482229-ca10-4ce0-b978-497f09644518")>]

In [69]:
for i in sal_tags:
    sal_name=i.text
    salary_list.append(sal_name)
salary_list[0:10]

['₹533K-₹758K (Glassdoor Est.)',
 '₹500K-₹829K (Glassdoor Est.)',
 '₹312K-₹518K (Glassdoor Est.)',
 '₹312K-₹600K (Glassdoor Est.)',
 '₹287K-₹611K (Glassdoor Est.)',
 '₹421K-₹480K (Glassdoor Est.)',
 '₹313K-₹607K (Glassdoor Est.)',
 '₹126K-₹600K (Glassdoor Est.)',
 '₹206K-₹622K (Glassdoor Est.)',
 '₹420K-₹850K (Glassdoor Est.)']

In [70]:
location_tags=driver.find_elements_by_xpath("//span[@class='loc css-nq3w9f pr-xxsm']")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="144e1b4b-8bd9-4c55-af1d-7f7d2445e78f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="46fd1b1b-cdd7-45fa-8835-cabdfe4a0157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="c3e36b25-7452-4db1-9037-5e5aece31501")>,
 <selenium.webdriver.remote.webelement.WebElement (session="67b4f3f8838d6909fe1086d3851be6a9", element="399c1623-8b64-4c61-9308-8b4d6e29e22b")>]

In [71]:
for i in location_tags:
    loc=i.text
    location_list.append(loc)
location_list[0:10]

['Gurgaon',
 'Noida',
 'Gurgaon',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida',
 'Noida']

In [72]:
import pandas as pd
jobs2=pd.DataFrame({})
jobs2['title']=job_titles[0:10]
jobs2['company']=company_names[0:10]
jobs2['salary']=salary_list[0:10]
jobs2['location']=location_list[0:10]

In [73]:
jobs2

,title,company,salary,location
0,Data Scientist,IHS Markit,₹533K-₹758K (Glassdoor Est.),Gurgaon
1,Assistant Manager - Data Scientist,Genpact,₹500K-₹829K (Glassdoor Est.),Noida
2,Data Analyst,GroundTruth,₹312K-₹518K (Glassdoor Est.),Gurgaon
3,Data Scientist,Gauge Data Solutions,₹312K-₹600K (Glassdoor Est.),Noida
4,Data Scientist,MARKTECH CONSULTANCY,₹287K-₹611K (Glassdoor Est.),Noida
5,Data Scientist,Algoscale,₹421K-₹480K (Glassdoor Est.),Noida
6,Data Scientist,SearchUrCollege,₹313K-₹607K (Glassdoor Est.),Noida
7,Data Scientist,Techlive,₹126K-₹600K (Glassdoor Est.),Noida
8,Data Scientist,Priority Vendor,₹206K-₹622K (Glassdoor Est.),Noida
9,Data Scientist,Biz2Credit Inc,₹420K-₹850K (Glassdoor Est.),Noida

In [74]:
driver.close()

Q5: Write a python program to scrape the salary data for Data Scientist designation
in Noida location.
You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

In [92]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [93]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [94]:
search_job=driver.find_element_by_id('KeywordSearch')
search_job.send_keys('Data Scientist')

In [95]:
search_loc=driver.find_element_by_id("LocationSearch")
search_loc.send_keys("Noida")

In [96]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [97]:
numberofsalary=[]
company_names=[]
avg_salary=[]
min_salary=[]
max_salary=[]

In [98]:
name_tags=driver.find_elements_by_xpath("//p[@class='m-0 ']")
name_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="295d5954-1221-47fd-835d-2ed55d77045a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="5260b672-66ed-4f98-8cb8-04f004ff19b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="bd5488f5-0f3d-4e85-9993-23a2b1812e86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="4c2d10b9-a338-4fc4-937c-54c6beb15ac9")>]

In [99]:
for i in name_tags:
    name=i.text
    company_names.append(name)
company_names[0:10]

['Delhivery',
 'Accenture',
 'IBM',
 'Ericsson-Worldwide',
 'Valiance Solutions',
 'Tata Consultancy Services',
 'UnitedHealth Group',
 'Cognizant Technology Solutions',
 'Innovaccer',
 'OYO']

In [100]:
salno_tags=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ' ]")
salno_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="9c25d493-03f9-4c32-a07e-efa018cb7bd1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="db81725e-bd3b-40ec-9252-b812e3e70dae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="5e92c588-c0eb-406c-aca9-4248ef6edad0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="52d39719-2c7f-41f4-90f6-9ba7f2926253")>]

In [101]:
for i in salno_tags:
    saln=i.text
    numberofsalary.append(saln)
numberofsalary[0:10]

['13 salaries',
 '9 salaries',
 '8 salaries',
 '8 salaries',
 '8 salaries',
 '7 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries',
 '5 salaries']

In [102]:
avg_tags=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")
avg_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="f27c607d-d594-47ae-a297-d40a08ce9268")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="d46e0f1a-f47f-49bd-b184-0aedb61a1b38")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="b88e1ea9-1894-4298-90f5-c6e8042b6c6e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d6306dd43d5f66157f22cc50a7015a4c", element="98ae4014-9c95-4a2c-90fb-609bec83d234")>]

In [103]:
for i in avg_tags:
    salavg=i.text
    avg_salary.append(salavg)
avg_salary[0:10]

['₹ 12,49,514',
 '₹ 11,19,272',
 '₹ 6,88,601',
 '₹ 7,80,664',
 '₹ 7,71,320',
 '₹ 5,90,406',
 '₹ 13,21,601',
 '₹ 9,96,446',
 '₹ 9,27,677',
 '₹ 14,00,000']

In [105]:
    count=0
    for i in list(driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span"))[:18]:
        if count%2==0:
            min_salary.append(i.text)
        else:
            max_salary.append(i.text)
        count+=1

In [106]:
min_salary[0:10]

['₹445K',
 '₹445K',
 '₹571K',
 '₹580K',
 '₹468K',
 '₹496K',
 '₹360K',
 '₹708K',
 '₹784K',
 '₹614K']

In [107]:
max_salary[0:10]

['₹11,495K',
 '₹2,200K',
 '₹2,700K',
 '₹1,595K',
 '₹1,138K',
 '₹1,000K',
 '₹1,557K',
 '₹1,250K',
 '₹1,676K']

In [109]:
import pandas as pd
jobs3=pd.DataFrame({})
jobs3['company']=company_names[0:9]
jobs3['average_salary']=avg_salary[0:9]
jobs3['number_of_salaries']=numberofsalary[0:9]
jobs3['minimum_salary']=min_salary[0:9]
jobs3['maximum_salary']=max_salary[0:9]

In [110]:
jobs3

,company,average_salary,number_of_salaries,minimum_salary,maximum_salary
0,Delhivery,"₹ 12,49,514",13 salaries,₹445K,"₹11,495K"
1,Accenture,"₹ 11,19,272",9 salaries,₹445K,"₹2,200K"
2,IBM,"₹ 6,88,601",8 salaries,₹571K,"₹2,700K"
3,Ericsson-Worldwide,"₹ 7,80,664",8 salaries,₹580K,"₹1,595K"
4,Valiance Solutions,"₹ 7,71,320",8 salaries,₹468K,"₹1,138K"
5,Tata Consultancy Services,"₹ 5,90,406",7 salaries,₹496K,"₹1,000K"
6,UnitedHealth Group,"₹ 13,21,601",7 salaries,₹360K,"₹1,557K"
7,Cognizant Technology Solutions,"₹ 9,96,446",6 salaries,₹708K,"₹1,250K"
8,Innovaccer,"₹ 9,27,677",6 salaries,₹784K,"₹1,676K"

In [112]:
driver.close()


Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [2]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [3]:
driver.get('https://www.flipkart.com/')

In [4]:
search_product=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_product.send_keys("sunglasses")

In [5]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [6]:
brand=[]
price=[]
discount=[]

In [7]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="25dafc2a-2581-472a-9747-057bcf21c4af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="09761141-fac6-432b-81f5-794396388001")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="dab2f478-1f00-4ef8-9024-80117fbecae2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="c31bd6fb-34fe-4b42-ad74-c93bd30fda97")>]

In [8]:
for i in brand_tags:
    b=i.text
    brand.append(b)
brand[0:10]

['I Flash',
 'I Flash',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Phenomenal',
 'Fastrack',
 'FDA COLLECTION',
 'I Flash',
 'Rozzetta Craft',
 'Phenomenal']

In [9]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="6e44ebdf-b344-45e9-9fb4-fa326f0eea63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="b8ce3f4a-b474-44e2-87e2-f022b7d02d93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="5ab07c95-78b9-4a7f-9e44-c72dfe94e213")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="989d5a8d-441b-48d7-a0a9-436323022208")>]

In [10]:
for i in price_tags:
    p=i.text
    price.append(p)
price[0:]

['₹123',
 '₹170',
 '₹199',
 '₹188',
 '₹379',
 '₹519',
 '₹161',
 '₹151',
 '₹398',
 '₹399',
 '₹331',
 '₹189',
 '₹674',
 '₹233',
 '₹404',
 '₹135',
 '₹449',
 '₹309',
 '₹198',
 '₹527',
 '₹161',
 '₹199',
 '₹201',
 '₹210',
 '₹175',
 '₹175',
 '₹181',
 '₹166',
 '₹160',
 '₹159',
 '₹242',
 '₹283',
 '₹149',
 '₹189',
 '₹189',
 '₹151',
 '₹287',
 '₹165',
 '₹284',
 '₹284']

In [11]:
discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="66e5ba72-87cc-48ce-b54f-c0d3b6aecfc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="8fc5fbcc-3278-4f04-b708-f64d90891b33")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="7abb766d-5d2e-4cdc-b593-61374dc632d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="753bc516-2a27-46d7-ba2a-6dcfea0a9aef")>]

In [12]:
for i in discount_tags:
    d=i.text
    discount.append(p)
discount[0:]

['₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284']

In [13]:
nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
       
nxt_button.click()

In [14]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="aa940d04-83b4-4a0a-83cc-bea019ef3cc9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="c70dad5c-d0bb-4b03-8c9a-08f7de9312de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="27ce0962-7ae3-446f-9306-a244635d39db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="688e2a19-b1f5-4f0c-baa5-81f8c8827d79")>]

In [15]:
for i in brand_tags:
    b=i.text
    brand.append(b)
brand[0:10]

['I Flash',
 'I Flash',
 'FDA COLLECTION',
 'FDA COLLECTION',
 'Phenomenal',
 'Fastrack',
 'FDA COLLECTION',
 'I Flash',
 'Rozzetta Craft',
 'Phenomenal']

In [16]:
len(brand)

80

In [17]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="b32d9d4f-3231-4afe-883d-4581b7628773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="519a90b2-a4c4-4ccd-8092-e23ed53a172c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="4bac74bc-c30e-4a96-920e-fb7952d31c12")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="759ecba5-92b7-4c83-b2dd-e209d22f3752")>]

In [18]:
for i in price_tags:
    p=i.text
    price.append(p)
price[0:10]

['₹123',
 '₹170',
 '₹199',
 '₹188',
 '₹379',
 '₹519',
 '₹161',
 '₹151',
 '₹398',
 '₹399']

In [19]:
len(price)

80

In [20]:
discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

discount_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="85860c71-e661-46fa-8a05-d3d0d33a000f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="64bc34d5-0c6d-477b-8b91-2ad665c860dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="5205fc33-b935-4d46-b575-2b3c4769a0d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="ab60fc21-f527-42a1-a8b6-b06b836781b9")>]

In [21]:
for i in discount_tags:
    d=i.text
    discount.append(p)
discount[0:10]

['₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284',
 '₹284']

In [22]:
len(discount)

80

In [23]:
nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
       
nxt_button.click()

In [24]:
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

brand_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="36daea96-8346-46fa-9d99-1e2cfb63b96b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="cef2a443-961d-4085-9dd7-1dee60a3fe89")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="b5cc9754-f94f-4e64-a21b-1f95080dbd1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="f6599ed7-7722-4dd4-b579-515b3453063b")>]

In [25]:
for i in brand_tags:
    b=i.text
    brand.append(b)
brand[80:100]

['NKZ',
 'Royal Son',
 'JOHAENA',
 'Royal Son',
 'PIRASO',
 'Badfella',
 'RPR',
 'MAXX',
 'kingsunglasses',
 'funglasses',
 'dannilo',
 'dannilo',
 'POLOSHADES',
 'Royal Son',
 'funglasses',
 'Dannilo',
 'Phenomenal',
 'shah collections',
 'ROYAL SON',
 'Royal Son']

In [26]:
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

price_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="9e089fe4-c1bd-4230-918a-d270617d02b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="d910e0a3-cb90-4e8d-b7b8-1c734fd97670")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="576deb7a-c29d-4d4f-87d6-a8bc0b420459")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="eb8a3955-7c96-4402-9d5c-f4b84415c10b")>]

In [27]:
for i in price_tags:
    p=i.text
    price.append(p)
price[80:100]

['₹248',
 '₹224',
 '₹120',
 '₹615',
 '₹188',
 '₹269',
 '₹165',
 '₹210',
 '₹284',
 '₹198',
 '₹179',
 '₹171',
 '₹125',
 '₹615',
 '₹189',
 '₹189',
 '₹360',
 '₹198',
 '₹527',
 '₹189']

In [28]:
len(brand),len(price)

(120, 120)

In [34]:
discount_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")

discount_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="4898edba-6046-4ff6-a2cc-23d0316a830c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="8766d8fd-d8bd-4ef9-8afe-e81df26e09ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="6f4e66cf-890a-41e8-8409-7ff9724366fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="ff54d38c-f426-4275-9092-a69e7646b8ec")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="28db6a25-3569-4b6c-8fbf-a30c2348a71d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="001d06a9-8750-4c93-8671-d07c0105a86c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="ce481d51-3578-4ab7-a7cb-eeb7a3ba3255")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="13b9b0b1-2504-424d-b3a8-ff9961664a5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="5c2916eb-73ad-487c-b7a9-55a3f92ef14b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="17221e34b3c5e3652af12bc809d9bf06", element="f06f926f-535f-4d9c-a935-1d859d6d28a3")>]

In [35]:
for i in discount_tags:
    d=i.text
    discount.append(p)
discount[80:100]

['₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799',
 '₹799']

In [36]:
len(discount)

120

In [37]:
import pandas as pd
sunglasses=pd.DataFrame({})
sunglasses['brand']=brand[0:100]
sunglasses['price']=price[0:100]
sunglasses['discount']=discount[0:100]

In [38]:
sunglasses

               brand price discount
0            I Flash  ₹123     ₹284
1            I Flash  ₹170     ₹284
2     FDA COLLECTION  ₹199     ₹284
3     FDA COLLECTION  ₹188     ₹284
4         Phenomenal  ₹379     ₹284
..               ...   ...      ...
95           Dannilo  ₹189     ₹799
96        Phenomenal  ₹360     ₹799
97  shah collections  ₹198     ₹799
98         ROYAL SON  ₹527     ₹799
99         Royal Son  ₹189     ₹799

[100 rows x 3 columns]

In [39]:
driver.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [40]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [41]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [42]:
    start_page=0
    end_page=10
    
    rating=[]
    
    
    for page in range(start_page,end_page+1):
        rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
      
        for i in rating_tags:
                r=i.text
                rating.append(r)

    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [43]:
rating[0:10]

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [45]:
len(rating)

110

In [47]:
    start_page=0
    end_page=10
    
    Review_summary=[]
    
    
    for page in range(start_page,end_page+1):
        summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
      
        for i in summary_tags:
                s=i.text
                Review_summary.append(s)

    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [48]:
len(Review_summary)

110

In [49]:
    start_page=0
    end_page=10
    
    full_review=[]
    
    
    for page in range(start_page,end_page+1):
        full_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
      
        for i in full_tags:
                f=i.text
                full_review.append(f)

    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [50]:
len(full_review)

110

In [51]:
import pandas as pd
iphone=pd.DataFrame({})
iphone['Rating']=rating[0:100]
iphone['Review_summary']= Review_summary[0:100]
iphone['Full_review']=full_review[0:100]

In [52]:
iphone

,Rating,Review_summary,Full_review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
96,5,Worth every penny,It’s been almost a month since I have been usi...
97,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
98,4,Nice product,Awesome Phone. Slightly high price but worth. ...
99,5,Wonderful,*Review after 10 months of usage*\nDoesn't see...

In [53]:
driver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and
search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [54]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [55]:
driver.get('https://www.flipkart.com/')

In [56]:
search_product=driver.find_element_by_xpath("//input[@title='Search for products, brands and more']")
search_product.send_keys("sneakers")

In [57]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [58]:
    start_page=0
    end_page=3
    
    Brand=[]
    
    
    for page in range(start_page,end_page+1):
        b_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
      
        for i in b_tags:
                b=i.text
                Brand.append(b)

    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [59]:
Brand[0:10]

['otoos',
 'Birde',
 'Chevit',
 'Chevit',
 'Robbie jones',
 'Shoes Bank',
 'World Wear Footwear',
 'Rzisbo',
 'GANPATI TRADERS',
 'Oricum']

In [60]:
len(Brand)

160

In [62]:
    start_page=0
    end_page=3
    
    Price=[]
    
    
    for page in range(start_page,end_page+1):
        p_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
      
        for i in p_tags:
                p=i.text
                Price.append(p)

    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [63]:
Price[0:10]

['₹426',
 '₹569',
 '₹579',
 '₹224',
 '₹399',
 '₹349',
 '₹240',
 '₹349',
 '₹199',
 '₹419']

In [64]:
len(Price)

160

In [65]:
    start_page=0
    end_page=3
    
    Discount=[]
    
    
    for page in range(start_page,end_page+1):
        d_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
      
        for i in d_tags:
                d=i.text
                Discount.append(d)

    
        nxt_button=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
        if nxt_button.text=='Next':
            nxt_button.click()
            time.sleep(5)

In [66]:
Discount[0:10]

['57% off',
 '43% off',
 '70% off',
 '55% off',
 '60% off',
 '65% off',
 '51% off',
 '65% off',
 '60% off',
 '58% off']

In [67]:
len(Discount)

160

In [68]:
import pandas as pd
sneakers=pd.DataFrame({})
sneakers['brand']=Brand[0:100]
sneakers['price']=Price[0:100]
sneakers['discount']=Discount[0:100]

In [69]:
sneakers

           brand price discount
0          otoos  ₹426  57% off
1          Birde  ₹569  43% off
2         Chevit  ₹579  70% off
3         Chevit  ₹224  55% off
4   Robbie jones  ₹399  60% off
..           ...   ...      ...
95        Chevit  ₹369  26% off
96        Chevit  ₹359  64% off
97        Chevit  ₹540  63% off
98       Essence  ₹374  62% off
99        Bonexy  ₹474  52% off

[100 rows x 3 columns]

In [70]:
driver.close()

Q10: Go to webpage https://www.amazon.in/
 Enter “Laptop” in the search field and then click the search icon.
 Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the
below image:
    After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes
for each laptop:
1. title
2. Ratings
3. Price

In [89]:
driver=webdriver.Chrome(r"C:\Users\YaTiKa\Desktop\chromedriver.exe")

In [90]:
driver.get('https://www.amazon.in/')

In [91]:
search_p=driver.find_element_by_id('twotabsearchtextbox')
search_p.send_keys('Laptop')

In [92]:
search_btn=driver.find_element_by_xpath("//input[@type='submit'][1]")
search_btn.click()

In [100]:
cpu_btn1=driver.find_element_by_xpath("//li[@aria-label='Intel Core i7']/span/a/div")


cpu_btn1.click()

In [101]:
title=[]

Ratings=[]

Price=[]

In [103]:
t_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
      
for i in t_tags:
    t=i.text
    title.append(t)

In [104]:
title[0:10]

['ASUS ZenBook Flip S OLED, Intel Evo Core i7-1165G7 11th Gen, 13.3-inch UHD Touch Thin and Light 2-in-1 Laptop (16GB/1TB SSD/Windows 10/Office 2019/Iris Xᵉ Graphics/Jade Black/1.2 kg), UX371EA-HL701TS',
 'HP Pavilion x360 Core i7 8th Gen 14-inch Touchscreen 2-in-1 FHD Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/2GB Graphics/Mineral Silver/1.59 kg), 14- dh0045TX',
 "(Renewed) HP EliteBook FOLIO 9480M Laptop (Core i7 4th Gen/4GB/500GB/WEBCAM/14''/DOS)",
 'ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Core i7 10th Gen, GeForce GTX 1650 4GB GDDR6 Graphics (8GB RAM/512GB NVMe SSD/Windows 10/Fortress Gray/2.30 Kg), FX566LH-BQ036T + Xbox Game Pass for PC',
 'ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11th Gen 14-inch FHD Thin and Light Laptop (16GB RAM/512GB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Pine Grey/1.17 kg), UX425EA-BM701TS',
 '(Renewed) Lenovo ThinkPad High Performance 12.5 inch IPS Panel 1.53 kg Laptop (Core I7 5600U/8 GB(Upto 16GB)/256 GB SSD/Win 10 Pro/Webcam/USB 3.0/SIM/BT/M.2/TPM 2.0 VPro/Integrated Graphics)',
 'ASUS ZenBook 13 (2020) Intel Core i7-1165G7 11th Gen 13.3-inch FHD Thin and Light Laptop (16GB RAM/1TB NVMe SSD/Windows 10/MS Office 2019/Intel Iris Xᵉ Graphics/Lilac Mist/1.11 kg), UX325EA-EG701TS',
 'HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inch Laptop (10th Gen Core i7-10510U/8GB/512GB SSD/Windows 10 Home/MS Office/Mineral Silver/1.58 kg), 14-dh1180tu',
 'Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6" FHD Gaming Laptop (16GB/1TB SSD/Windows 10/MS Office 2019/144 Hz/NVIDIA RTX 2060 6GB GDDR6/with M300 RGB Gaming Mouse/Iron Grey/2.3Kg), 82AW005SIN',
 'Dell G3 3500 Gaming 15.6inch 120hz FHD Display Laptop (10th Gen i7-10750H / 8 GB / 512 SSD / GTX 1650 4GB / 1Yr Premium Warranty/ Win 10 + MS Office H&S 2019) D560250WIN9BE']

In [105]:
pr_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
      
for i in pr_tags:
    pr=i.text
    Price.append(pr)

In [106]:
Price[0:10]

['1,49,455',
 '85,990',
 '24,490',
 '73,990',
 '95,490',
 '36,699',
 '99,990',
 '74,990',
 '1,61,990',
 '82,990']

In [107]:
import pandas as pd
laptops=pd.DataFrame({})
laptops['brand']=title[0:10]
laptops['price']=Price[0:10]

In [108]:
laptops

                                               brand     price
0  ASUS ZenBook Flip S OLED, Intel Evo Core i7-11...  1,49,455
1  HP Pavilion x360 Core i7 8th Gen 14-inch Touch...    85,990
2  (Renewed) HP EliteBook FOLIO 9480M Laptop (Cor...    24,490
3  ASUS TUF Gaming F15 Laptop 15.6" FHD Intel Cor...    73,990
4  ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...    95,490
5  (Renewed) Lenovo ThinkPad High Performance 12....    36,699
6  ASUS ZenBook 13 (2020) Intel Core i7-1165G7 11...    99,990
7  HP Pavilion x360 Touchscreen 2-in-1 FHD 14-inc...    74,990
8  Lenovo Legion 5Pi 10th Gen Intel Core i7 15.6"...  1,61,990
9  Dell G3 3500 Gaming 15.6inch 120hz FHD Display...    82,990